* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f5f5f7;
  box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: Montserrat SemiBold;
  src: url(fonts/Montserrat-SemiBold.ttf) format("opentype");
}

@font-face {
  font-family: Montserrat Mediume;
  src: url(fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat Bolde;
  src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat Regular;
  src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat ExtraBolde;
  src: url(fonts/Montserrat-ExtraBold.ttf);
}

/* ------ DOACAO / HEADER ------ */

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

#DoacaoUnicef {
  font-size: 1.78rem;
  font-family: Montserrat SemiBold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 4.3rem;
  width: 100%;
  background-color: #d9d9d9;
}

#unicef {
  display: flex;
  max-width: 9rem;
  max-height: 4rem;
  width: auto;
  height: auto;
  margin-top: -0.26rem;
}

#topbar {
  width: 100%;
  height: 9rem;
  background-color: #2f3d4c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1.8rem;
  font-family: Montserrat Mediume;
  color: white;
}

#nomedosite {
  font-family: Montserrat SemiBold;
  font-size: 1.1rem;
}

#logoenome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  gap: 0.5rem;
}

.logopineapple {
  display: block;
  max-width: 7.9rem;
  max-height: 5.9rem;
  width: auto;
  height: auto;
}

#carrinho {
  padding-right: 2rem;
}

#carroepesquisa {
  display: flex;
  flex-direction: row;
  gap: 2.7rem;
}

a {
  text-decoration: none;
  color: white;
}

.compreagora:hover {
  background-color: rgba(0, 0, 0, 0.082);
  transition-duration: 150ms;
  transform: scale(1);
}
.compreagora:not(:hover) {
  transition-duration: 150ms;
  transform: scale(0.95);
}

.compreagr2:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition-duration: 150ms;
  transform: scale(1);
}

.compreagr2:not(:hover) {
  transition-duration: 150ms;
  transform: scale(0.95);
}

/* ------ MAIN ------ */

.titulo {
  font-family: Montserrat Bolde;
  font-size: 6rem;
  text-align: center;
}

#subtituloiphone {
  font-family: Montserrat Mediume;
  font-size: 2.5rem;
  color: #515151;
  text-align: center;
  margin-top: 1.3rem;
}

#iphone {
  display: block;
  max-width: 40rem;
  max-height: 40rem;
  margin-bottom: 2rem;
  width: auto;
  height: auto;
}

#textosespaco {
  line-height: 3.8rem;
}

#bloco1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  padding-bottom: 8rem;
}

.saibamais {
  font-family: Montserrat Mediume;
  font-size: 2rem;
  color: #0066ff;
  margin-top: 1rem;
}

.compreagora {
  font-family: Montserrat Mediume;
  font-size: 2rem;
  color: black;
  border: 2px solid black;
  width: 20rem;
  border-radius: 2.5rem;
  background-color: transparent;
  height: 4.3rem;
  width: 19.7rem;
}

#blocobranco {
  width: 144rem;
  height: 50rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15rem;
}

#notebookasus {
  display: block;
  max-width: 70rem;
  max-height: 90rem;
  margin-left: 15rem;
  width: auto;
  height: auto;
}

#compresaiba {
  font-family: Montserrat Mediume;
  font-size: 1.8rem;
  color: #0066ff;
  padding-top: 2rem;
}

#espacotexto {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1rem;
}

#subtituloasus {
  font-family: Montserrat Mediume;
  font-size: 3rem;
  color: #515151;
  text-align: center;
  padding-top: 2.7rem;
  padding-bottom: 1.6rem;
}

#blocovermelho {
  width: 38rem;
  height: 100rem;
  background-color: #ca5b5b;
  border-radius: 4rem;
  overflow: hidden;
  text-align: center;
  padding-top: 7rem;
}

#blocoamarelho {
  width: 38rem;
  height: 100rem;
  background-color: #ffc42e;
  border-radius: 4rem;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
}

#blocoazul {
  width: 38rem;
  height: 100rem;
  background-color: #008fbc;
  border-radius: 4rem;
  overflow: hidden;
  text-align: center;
  padding-top: 7rem;
}

#todososblocoscoloridos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 15rem;
  margin-top: 15rem;
}

#galaxy {
  display: block;
  max-width: 90rem;
  max-height: 60rem;
  width: auto;
  height: auto;
  padding-top: 6rem;
  margin-left: -44rem;
}

#motorola {
  width: 55rem;
  height: auto;
}

#asus {
  display: block;
  max-width: 90rem;
  max-height: 85rem;
  margin-left: 6rem;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.titulobloco {
  font-family: Montserrat ExtraBolde;
  font-size: 4rem;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 5.5rem;
  line-height: 4rem;
}

#titulobloco1 {
  font-family: Montserrat ExtraBolde;
  font-size: 4rem;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 5.5rem;
  line-height: 4rem;
  padding-top: 2rem;
}

#subtitulobloco2 {
  font-family: Montserrat SemiBold;
  font-size: 3rem;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 5rem;
  padding-top: 2rem;
}

.tituloblocodiferente {
  font-family: Montserrat ExtraBolde;
  font-size: 4rem;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 5rem;
  line-height: 4rem;
}

.subtitulobloco {
  font-family: Montserrat SemiBold;
  font-size: 3rem;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 5rem;
}

.saibamais2 {
  font-family: Montserrat Mediume;
  font-size: 1.8rem;
  color: #2f3d4c;
  margin-top: 1.5rem;
}

.compreagr2 {
  font-family: Montserrat Mediume;
  font-size: 1.8rem;
  color: white;
  border: 2px solid white;
  border-radius: 2.5rem;
  background-color: transparent;
  height: 4.5rem;
  width: 18rem;
}

#textosss {
  margin-bottom: 5rem;
}

/* ------ FOOTER ------ */

#blococabecalho {
  background-color: #d9d9d9;
  width: 100%;
  height: 62rem;
  padding-top: 0.7rem;
}

#linha {
  border-top: 0.04rem solid #7e7e7e;
  width: 130rem;
  margin-left: 2rem;
}

.til-rodape {
  font-family: Montserrat Bolde;
  font-size: 1.7rem;
}

.text-rodape {
  font-family: Montserrat Mediume;
}

.text-rodape2 {
  font-family: Montserrat Mediume;
  padding-bottom: 2rem;
}

.til-rodape3 {
  font-family: Montserrat Bolde;
}

#todososblocos {
  display: flex;
  flex-direction: row;
  gap: 13rem;
  padding-left: 9rem;
  padding-right: 20rem;
  padding-top: 3rem;
  line-height: 3.5rem;
  font-size: 1.7rem;
}

#contatoimg {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  align-items: center;
}

#logopreta {
  padding-left: 3rem;
  padding-bottom: 0.7rem;
}

#linha2 {
  border-bottom: 0.04rem solid #7e7e7e;
  width: 130rem;
  margin-left: 2rem;
}

#finalrodape,
#finalrodape2 {
  font-family: Montserrat Mediume;
  margin-left: 2rem;
}

#finalrodape {
  padding-top: 6rem;
}

#redesepgto {
  margin-left: 9rem;
  padding-top: 4.5rem;
  display: flex;
  flex-direction: row;
  gap: 36.7rem;
}

.icons,
.icons2 {
  padding-right: 2rem;
  padding-top: 1rem;
}
