* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f5f5f7;
  box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: Montserrat SemiBold;
  src: url(fonts/Montserrat-SemiBold.ttf) format("opentype");
}

@font-face {
  font-family: Montserrat Mediume;
  src: url(fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat Bolde;
  src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat Regular;
  src: url(fonts/Montserrat-Regular.ttf);
}

/* ------ DOACAO / HEADER ------ */

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

#DoacaoUnicef {
  font-size: 1.78rem;
  font-family: Montserrat SemiBold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 4.3rem;
  width: 100%;
  background-color: #d9d9d9;
}

#unicef {
  display: flex;
  max-width: 9rem;
  max-height: 4rem;
  width: auto;
  height: auto;
  margin-top: -0.26rem;
}

#topbar {
  width: 100%;
  height: 9rem;
  background-color: #2f3d4c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1.8rem;
  font-family: Montserrat Mediume;
  color: white;
}

#nomedosite {
  font-family: Montserrat SemiBold;
  font-size: 1.1rem;
}

#logoenome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  gap: 0.5rem;
}

.logopineapple {
  display: block;
  max-width: 7.9rem;
  max-height: 5.9rem;
  width: auto;
  height: auto;
}

#carrinho {
  padding-right: 2rem;
}

#carroepesquisa {
  display: flex;
  flex-direction: row;
  gap: 2.7rem;
}

a {
  text-decoration: none;
  color: white;
}

/* ------ MAIN ------ */

#setavoltar {
  width: 4rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h2 {
  font-family: Montserrat Bolde;
  font-size: 8rem;
  text-align: center;
  margin-bottom: 9rem;
  margin-left: 4rem;
}

#todososnnotebooks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 8rem;
  gap: 3rem;
  align-items: center;
}

.macbookstitulo {
  font-family: Montserrat Bolde;
  font-size: 3rem;
  padding-bottom: 1.2rem;
  padding-top: 2rem;
  text-align: center;
}

.comprar1 {
  font-family: Montserrat Mediume;
  font-size: 2rem;
  color: black;
  border: 2px solid black;
  width: 20rem;
  border-radius: 2.5rem;
  background-color: transparent;
  height: 4.3rem;
  width: 19.7rem;
}

.saibamaiss {
  font-family: Montserrat Mediume;
  font-size: 1.8rem;
  color: #0066ff;
  padding-top: 2rem;
  padding-left: 1rem;
}

#note2 {
  margin-top: -5rem;
}

#hardware {
  position: relative;
  display: flex;
  justify-content: center;
}

.titulos {
  display: flex;
  flex-direction: row;
}

#textoeimg {
  position: absolute;
  display: flex;
  flex-direction: row;
  font-family: Montserrat Bolde;
  font-size: 4rem;
  gap: 3rem;
  color: white;
  justify-content: center;
  align-items: center;
  padding-top: 3.5rem;
}

#macbook16 {
  width: 28rem;
  padding-top: 0.3rem;
}

#doisblocos {
  display: flex;
  flex-direction: row;
  gap: 9rem;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

#frete {
  width: 17rem;
  padding-top: 4rem;
}

#cofre {
  width: 15rem;
  padding-top: 2.3rem;
}

.blocoazul {
  width: 45rem;
  height: 35rem;
  background-color: #2f3d4c;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tituloazul {
  font-family: Montserrat SemiBold;
  font-size: 2rem;
  color: white;
  padding-top: 2rem;
}

#tituloazul2 {
  font-family: Montserrat SemiBold;
  font-size: 2rem;
  color: white;
  padding-top: 0.8rem;
}

.subazul {
  font-family: Montserrat Regular;
  font-size: 2rem;
  color: white;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}

#acessorios {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15rem;
}

#textosabsolute {
  position: absolute;
  padding-top: 10rem;
  text-align: center;
  padding-top: 26rem;
}

#acessoriostitulo {
  font-family: Montserrat Bolde;
  font-size: 7.5rem;
  color: white;
  padding-bottom: 4rem;
}

#comprarbutton {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 3rem;
  font-family: Montserrat Mediume;
  font-size: 2.4rem;
  color: white;
  width: 16rem;
  height: 4.7rem;
}

#eduework {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
  margin-bottom: 15rem;
  align-items: center;
}

#tituloworkedu1 {
  font-family: Montserrat Bolde;
  font-size: 4rem;
  color: white;
  margin: 0 auto;
  padding-top: 13rem;
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

#subtituloworkedu1 {
  font-family: Montserrat Regular;
  font-size: 2.5rem;
  color: white;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
}

#tituloworkedu2 {
  font-family: Montserrat Bolde;
  font-size: 4rem;
  color: white;
  margin: 0 auto;
  padding-top: 13rem;
  text-align: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

#subtituloworkedu2 {
  font-family: Montserrat Regular;
  font-size: 2.5rem;
  color: white;
  padding-left: 4rem;
  padding-right: 5rem;
  text-align: center;
}

#textoseduwork {
  position: absolute;
  padding-left: 5rem;
}

#textoseduwork2 {
  position: absolute;
  padding-left: 6rem;
}

.imgwork {
  position: relative;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.082);
  transition-duration: 150ms;
  transform: scale(1);
}

button:not(:hover) {
  transition-duration: 150ms;
  transform: scale(0.95);
}

#applework:hover,
#appleeducation {
  transition-duration: 150ms;
  transform: scale(1.04);
}

#appleworr:not(:hover),
#appleeducation:not(:hover) {
  transition-duration: 150ms;
  opacity: 100%;
  transform: scale(1);
}

/* ------ FOOTER ------ */

#blococabecalho {
  background-color: #d9d9d9;
  width: 100%;
  height: 62rem;
  padding-top: 0.7rem;
}

#linha {
  border-top: 0.04rem solid #7e7e7e;
  width: 130rem;
  margin-left: 2rem;
}

.til-rodape {
  font-family: Montserrat Bolde;
  font-size: 1.7rem;
}

.text-rodape {
  font-family: Montserrat Mediume;
}

.text-rodape2 {
  font-family: Montserrat Mediume;
  padding-bottom: 2rem;
}

.til-rodape3 {
  font-family: Montserrat Bolde;
}

#todososblocos {
  display: flex;
  flex-direction: row;
  gap: 13rem;
  padding-left: 9rem;
  padding-right: 20rem;
  padding-top: 3rem;
  line-height: 3.5rem;
  font-size: 1.7rem;
}

#contatoimg {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  align-items: center;
}

#logopreta {
  padding-left: 3rem;
  padding-bottom: 0.7rem;
}

#linha2 {
  border-bottom: 0.04rem solid #7e7e7e;
  width: 130rem;
  margin-left: 2rem;
}

#finalrodape,
#finalrodape2 {
  font-family: Montserrat Mediume;
  margin-left: 2rem;
}

#finalrodape {
  padding-top: 6rem;
}

#redesepgto {
  margin-left: 9rem;
  padding-top: 4.5rem;
  display: flex;
  flex-direction: row;
  gap: 36.7rem;
}

.icons,
.icons2 {
  padding-right: 2rem;
  padding-top: 1rem;
}
