* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f5f5f7;
  box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: Montserrat SemiBold;
  src: url(fonts/Montserrat-SemiBold.ttf) format("opentype");
}

@font-face {
  font-family: Montserrat Mediume;
  src: url(fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat Bolde;
  src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat Regular;
  src: url(fonts/Montserrat-Regular.ttf);
}

/* ------ DOACAO / HEADER ------ */

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

#DoacaoUnicef {
  font-size: 1.78rem;
  font-family: Montserrat SemiBold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 4.3rem;
  width: 100%;
  background-color: #d9d9d9;
}

#unicef {
  display: flex;
  max-width: 9rem;
  max-height: 4rem;
  width: auto;
  height: auto;
  margin-top: -0.26rem;
}

#topbar {
  width: 100%;
  height: 9rem;
  background-color: #2f3d4c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1.8rem;
  font-family: Montserrat Mediume;
  color: white;
}

#nomedosite {
  font-family: Montserrat SemiBold;
  font-size: 1.1rem;
}

#logoenome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  gap: 0.5rem;
}

.logopineapple {
  display: block;
  max-width: 7.9rem;
  max-height: 5.9rem;
  width: auto;
  height: auto;
}

#carrinho {
  padding-right: 2rem;
}

#carroepesquisa {
  display: flex;
  flex-direction: row;
  gap: 2.7rem;
}

a {
  text-decoration: none;
  color: white;
}

/* ------ MAIN ------ */

#backgroundsusporte {
  display: block;
  max-width: 144rem;
  max-height: 40rem;
  width: auto;
  height: auto;
}

#backetexto {
  position: relative;
}

#bemvindotexto {
  position: absolute;
  font-family: Montserrat Bolde;
  font-size: 6rem;
  color: white;
  padding-top: 3rem;
  line-height: 6rem;
  padding-top: 6rem;
  text-align: center;
}

.alinhamento {
  display: flex;
  justify-content: center;
}

#titulo {
  font-family: Montserrat Bolde;
  font-size: 4.5rem;
  text-align: center;
  padding-top: 5.3rem;
}

#setaetexto {
  border: 0;
  outline: none;
  background-color: #f5f5f7;
  font-family: Montserrat Mediume;
  font-size: 1.8rem;
  color: #9c9a9a;
}

#containercomtudo {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  gap: 1.5rem;
  width: 81.1rem;
  height: 4.5rem;
  border-radius: 1.8rem;
  border: 0.2rem solid #9c9a9a;
  padding-left: 1.2rem;
  margin-top: 2.5rem;
  margin-bottom: 8rem;
}

#setaimg {
  display: block;
  max-width: 10rem;
  max-height: 3rem;
  width: auto;
  height: auto;
}

.textoefoto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 0.5px black solid;
}

#textoefoto2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.5px black solid;
}

.titulo1 {
  font-family: Montserrat Mediume;
  font-size: 3.2rem;
}

.textoexplicativo {
  font-family: Montserrat Mediume;
  font-size: 2rem;
  color: #515151;
  padding-top: 2rem;
}

.saibamais {
  font-family: Montserrat Mediume;
  font-size: 2.3rem;
  padding-top: 5rem;
  color: #0066ff;
}

#atendente {
  display: block;
  max-width: 68.8rem;
  max-height: 70rem;
  width: auto;
  height: auto;
}

#senhornotebook {
  display: block;
  max-width: 66.1rem;
  max-height: 70rem;
  width: auto;
  height: auto;
}

.texto {
  text-align: center;
  padding-left: 8rem;
  padding-right: 10rem;
  padding-top: 14rem;
}

#texto2 {
  text-align: center;
  padding-left: 8rem;
  padding-right: 10rem;
  padding-top: 14rem;
}

#cuidadofalsificado {
  margin-top: 17rem;
  padding-left: 27rem;
  padding-right: 27rem;
  text-align: center;
  margin-bottom: 17rem;
}

#titulocuidado {
  font-family: Montserrat Bolde;
  font-size: 3rem;
  color: #515151;
  padding-bottom: 1.8rem;
}

#textocuidado {
  font-family: Montserrat Mediume;
  font-size: 2rem;
  color: #6c6c6c;
}

/* ------ FOOTER ------ */

#blococabecalho {
  background-color: #d9d9d9;
  width: 100%;
  height: 62rem;
  padding-top: 0.7rem;
}

#linha {
  border-top: 0.04rem solid #7e7e7e;
  width: 130rem;
  margin-left: 2rem;
}

.til-rodape {
  font-family: Montserrat Bolde;
  font-size: 1.7rem;
}

.text-rodape {
  font-family: Montserrat Mediume;
}

.text-rodape2 {
  font-family: Montserrat Mediume;
  padding-bottom: 2rem;
}

.til-rodape3 {
  font-family: Montserrat Bolde;
}

#todososblocos {
  display: flex;
  flex-direction: row;
  gap: 13rem;
  padding-left: 9rem;
  padding-right: 20rem;
  padding-top: 3rem;
  line-height: 3.5rem;
  font-size: 1.7rem;
}

#contatoimg {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  align-items: center;
}

#logopreta {
  padding-left: 3rem;
  padding-bottom: 0.7rem;
}

#linha2 {
  border-bottom: 0.04rem solid #7e7e7e;
  width: 130rem;
  margin-left: 2rem;
}

#finalrodape,
#finalrodape2 {
  font-family: Montserrat Mediume;
  margin-left: 2rem;
}

#finalrodape {
  padding-top: 6rem;
}

#redesepgto {
  margin-left: 9rem;
  padding-top: 4.5rem;
  display: flex;
  flex-direction: row;
  gap: 36.7rem;
}

.icons,
.icons2 {
  padding-right: 2rem;
  padding-top: 1rem;
}
